!debug.keystore
!default.mode1v3
!default.mode2v3
!default.pbxuser
!default.perspectivev3
.DS_Store
.gradle
.idea
.vscode/
*.env
*.hmap
*.iml
*.ipa
*.jsbundle
*.keystore
*.log
*.hprof
*.mode1v3
*.mode2v3
*.moved-aside
*.pbxuser
*.perspectivev3
*.properties
*.xccheckout
*.xcuserstate
*/fastlane/Preview.html
*/fastlane/report.xml
*/fastlane/screenshots
/ios/Pods/
/ios/commandmobile/Images.xcassets/AppIcon.appiconset/
\.buckd/
buck-out/
build/
DerivedData
node_modules/
release/
xcuserdata
gc_keys.json
*.jks
babel_build.js
bundle
.bundle
coverage
*.lcov
.scripts/circleci.token
jspd/